/*div {
  border: 1px solid red;
}*/

/*Navbar coloring and link centering on collapse*/
.my-nav {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}
/*Navbar border removal*/
.navbar-fixed-top {
    border-width: 0px;
}
/*Navbar links styling, hover & focus color*/
.navlink {
  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 14px;
  padding-left: 10px;
  border-radius: 4px;
}
.nav>li>a:hover, .nav>li>a:focus {
    background: none;
}
/*Navbar brand color*/
.navbar-brand {
  color: white !important;
  font-size: 24px;
}
/*Navbar nav list and a links color*/
.navbar-nav > li > a {
  color: white !important;
}
/*Navbar collapse nav border color*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: white;
}
/*Navbar Menu down border color*/
.navbar-toggle {
 border-color: white !important;
}
/*Navbar toggle hover color and when selected color*/
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: black;
}
/*Navbar toggle line  color*/
.icon-bar {
  background-color: white !important;
}
/*Styling for Main header*/
#main-header {
  font-family: 'Alfa Slab One', cursive;
  color: rgba(0, 0, 0, 0.8);
  font-size: 50px;
  margin-top: 50px;
}
/*Styling for Home id*/
#Home {
  height: 600px;
  background: url(http://i115.photobucket.com/albums/n282/mickyfen17/paint_home.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*transform: rotate(0);*/
}
/*Styling for About id*/
#About {
  height: 400px;
  background: #e0eeee;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-top: -10px;
}
/*Styling for Services id*/
#Services {
  /*height: 400px;*/
  background: #e0eeee;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-top: -10px;
}
/*Styling for Contact id*/
#Contact {
  height: 400px;
  background: #e0eeee;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-top: -10px;
}

body {
  padding-top: 0px;
  background-color: white;
  color: black;
}

/*logo standard size*/
.logo {
  width: 150px;
}
/*Johnstones logo extra padding to make inline*/
#Johnstones {
  padding-top: 18px;
  padding-bottom: 25px;
}

/*Border styling & start position*/
#Bord1, #Bord2, #Bord3 {
  background-color: #76eec6;
  height: 10px;
  border-radius: 10px;
  width: 0px;
  max-width: 100%;
  position: absolute;
  margin-top: -14px;
  z-index: 1;
}

/*Testing*/
#test {
  transition: all 1.5s;
  background: black;
  height: 200px;
  width: 200px;
  color: red;
  font-size: 25px;
}

#test:hover {
  transition: all 1.5s;
  border-radius: 25px;
  font-size: 50px;
  width: 300px;
  height: 300px;
}




